table.Cval-list-schedules th.Cval-column-label {
	width: 46%;
}

table.Cval-list-schedules th.Cval-column-contacts, table.Cval-list-schedules th.Cval-column-organizer  {
	width: 16%;
}

table.Cval-list-schedules th.Cval-column-date {
	width: 12%;
}

table.Cval-list-schedules th.Cval-column-actions {
	width: 7%;
}

table.Cval-list-schedules td.Cval-column-label {
	overflow: hidden;
}

table.Cval-list-schedules td.Cval-column-contacts, table.Cval-list-schedules td.Cval-column-label,
table.Cval-list-schedules td.Cval-column-date, table.Cval-list-schedules td.Cval-column-organizer {
	cursor: pointer;
}