
table.Cval-list-locations th.Cval-column-label {
	width: 36%;
}

table.Cval-list-locations th.Cval-column-url {
	width: 31%;
}

table.Cval-list-locations th.Cval-column-paired, 
table.Cval-list-locations th.Cval-column-blocked,
table.Cval-list-locations th.Cval-column-requested,
table.Cval-list-locations th.Cval-column-used {
	width: 5%;
}

table.Cval-list-locations th.Cval-column-actions {
	width: 11%;
}

table.Cval-list-locations .Cval-column-paired, 
table.Cval-list-locations .Cval-column-blocked,
table.Cval-list-locations .Cval-column-requested,
table.Cval-list-locations .Cval-column-used{
	text-align: center;
}

table.Cval-list-locations td.Cval-column-label,
table.Cval-list-locations td.Cval-column-url,
table.Cval-list-locations td.Cval-column-paired, 
table.Cval-list-locations td.Cval-column-blocked,
table.Cval-list-locations td.Cval-column-requested,
table.Cval-list-locations td.Cval-column-used {
	cursor: pointer;
}