
.Cval-dialog {
	padding: 1em 0 !important;
}

.Cval-dialog.Cval-dialog-no-padding {
	padding: 0 !important;
}

.Cval-dialog .Cval-tabs > .ui-tabs-panel {
	padding: 1em 0;
}

.Cval-dialog.Cval-dialog-tabs {
	padding: 0 !important;
}

.Cval-dialog .Cval-tabs > .ui-tabs-nav {
	background: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}

.Cval-dialog .Cval-tabs {
	border: 0px;
	padding: 0px;
}

.ui-dialog.Cval > .ui-dialog-titlebar {
	border: 0px;
	font-size: 1.5em;
	color: #414141;
	padding: .5em .7em;
	font-weight: normal;
}

.ui-dialog.Cval {
	padding: 0em;
}

.ui-dialog.dialog-drop-shadow {
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);  
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.Cval-dialog .Cval-dialog-content {
	padding: 1em;
}

.Cval-dialog .Cval-dialog-footer {
	border: 0px;
	padding: .5em 1em;
}

.Cval-dialog .Cval-dialog-footer .ui-button {
	margin-left: 1em;
}