
.Cval-form.Cval-form-live {
	visibility: hidden;
}

.Cval-form .Cval-field-required {
	color: red;
	font-weight: bold;
	margin: 0 0 0 .4em;
}

.Cval-form .field {
	margin-bottom: 10px;
}

.Cval-form .field-label {
	font-weight: bold;
	padding: .4em 0em;
}

.Cval-form .field-description {
	font-weight: normal;
	color: gray;
	font-style: italic;
}

.Cval-form input[type=text].size-25, .Cval-form input[type=password].size-50 {
	width: 25%;
}

.Cval-form input[type=text].size-50, .Cval-form input[type=password].size-50 {
	width: 50%;
}

.Cval-form input[type=text].size-75, .Cval-form input[type=password].size-75 {
	width: 75%;
}

.Cval-form input[type=text].size-100, .Cval-form input[type=text], .Cval-form input[type=password].size-100, .Cval-form input[type=password] {
	width: 100%;
}