.fc td.fc-col-disabled {
	background: #cccccc url(../jquery/css/ui-themes/cval-light/images/ui-bg_diagonals-thick_75_cccccc_40x40.png) 50% 50%;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.Cval-fullcalendar-timerange-item {
	position : absolute;
	z-index : 5;
}

.Cval-fullcalendar-timerange-wrapper {
	position : absolute;
	z-index : 5
}

.Cval-fullcalendar-timerange-item_highlight {
	background-color: #66cc66;
	opacity: .3;
	filter: alpha(opacity = 30);
}

.Cval-fullcalendar-timerange-item_disabled {
	background: #cccccc url(../jquery/css/ui-themes/cval-light/images/ui-bg_diagonals-thick_75_cccccc_40x40.png) 50% 50%;
	z-index : 6;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.fc-today.ui-state-highlight {
	/*background: #EDEDED;*/
	border-color: #AAAAAA;
}