
#Cval-wrapper {
	min-width: 980px;
}

#Cval-header {
	height: 70px;
	border-bottom: 1px solid #3F3F3F;
	position: relative;
	background-color: #FFFFFF;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABMCAIAAAAjsUpsAAAALUlEQVQY063JsREAMAzCQB37r8ZCNGQCu4kLNS+SCFBbAWPTv/Afu/Tl01a2H1C2LMMtdA10AAAAAElFTkSuQmCC);
	background-position: center center;
	background-repeat: repeat-x;
}

#Cval-main {

}

#Cval-header-holder, #Cval-main-holder {
	width: 930px; margin: 0px auto; 
}

#Cval-content {
	padding: 25px 0px;
}

#Cval-footer {
	border-top: 1px solid #3F3F3F;
	color: #414141;
	padding: 10px 0px;
}

#Cval-footer-nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#Cval-footer-nav li {
	display: inline;
	height: 16px;
	line-height: 16px;
}

#Cval-footer-nav li + li::before {
	padding: 0 6px;
	content: " | ";
}

#Cval-header-holder {
	position: relative;
}

#Cval-global-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: absolute;
	right: 0;
	top: 5px;
}

#Cval-global-nav li {
	position: relative;
	line-height: 18px;
}

#Cval-global-nav li a {
	padding-left: 18px; 
}

#Cval-global-nav li div.ui-icon {
	position: absolute;
	top: 0px;
	left: 0px;
}

#Cval-main-nav {
	margin: 0px;
	padding: 0px;
	margin-top: 34px;
	list-style: none;
	float: right;
}

#Cval-main-nav > li {
	font-size: 1.1em;
	padding: 10px 15px;
	float: left;
	position: relative;
}

#Cval-main-nav > li.Cval-main-nav-active {
	font-weight: bold;
}

#Cval-main-nav > li.Cval-main-nav-dropdown > .ui-icon {
	position: absolute; 
	top: 8px; 
	right: 10px
}

#Cval-main-nav > li.Cval-main-nav-dropdown > a {
	margin-right: 12px;
}

#Cval-main-nav > li.Cval-main-nav-dropdown {
	border: 2px solid transparent;
	border-bottom: 0px;
	padding: 8px 13px 8px 13px;
}

#Cval-main-nav > li.Cval-main-nav-dropdown.Cval-main-nav-hover {
	background-color: #FFFFFF;
	border: 2px solid #414141;
	border-bottom: 0px;
}

#Cval-main-nav ul.Cval-main-nav-submenu {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	list-style: none;
	background-color: #FFFFFF;
	position: absolute;
	top: 24px;
	border: 2px solid #414141;
	border-top: 1px solid #414141;
	display: none;
	z-index: 1000;
	font-weight: normal;
}

#Cval-main-nav ul.Cval-main-nav-submenu.right-align {
	right: -2px;
}

#Cval-main-nav ul.Cval-main-nav-submenu.left-align {
	left: -2px;
}

#Cval-main-nav > li.Cval-main-nav-dropdown.Cval-main-nav-hover ul.Cval-main-nav-submenu {
	display: block;
}

#Cval-main-nav ul.Cval-main-nav-submenu ul {
	padding: 10px 0px;
	margin: 0px;
	list-style: none;
}

#Cval-main-nav ul.Cval-main-nav-submenu li {
	padding: 0px;
	position: relative;
	white-space: nowrap;
}

#Cval-main-nav ul.Cval-main-nav-submenu li > a {
	display: block;
	padding: 5px 15px;
}

#Cval-main-nav ul.Cval-main-nav-submenu li.Cval-main-nav-submenu-hover > a {
	background-color: #FEF6AD;
}

#Cval-header a, #Cval-footer a {
	text-decoration: none;
	color: inherit;
}

#Cval-logo {
	display: block;
	float: left;
	margin-top: 9px;
	width: 120px;
	height: 48px;
	background: url(../image/logo_main.png) 0 0;
	line-height: 99em;
	overflow: hidden;
}

.Cval-page-label {
	font-size: 1.5em;
	color: #414141;
	padding-bottom: 6px;
	padding-top: 6px;
}

ul.Cval-big-list-vertical {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.Cval-big-list-vertical li {
	margin-bottom: 10px;
	text-decoration: none;
}

ul.Cval-big-list-vertical li a  {
	text-decoration: none;
}

.Cval-size-08 { font-size: .8em; }
.Cval-size-09 { font-size: .9em; }
.Cval-size-1 { font-size: 1em; }
.Cval-size-11 { font-size: 1.1em; }
.Cval-size-12 { font-size: 1.2em; }

.Cval-h3 { 
	font-size: 1.2em;
	font-weight: bold;
}

ul.Cval-menu-vertical {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

ul.Cval-menu-vertical > li {
	padding: 0px;
	width: 100%;
	cursor: pointer;
}

ul.Cval-menu-vertical > li > a, ul.Cval-menu-vertical > li > .Cval-menu-vertical-content {
	padding: 5px 10px;
	/*width: 100%;*/
	display: block;
}

ul.Cval-menu-vertical > li.ui-state-disabled {
	cursor: default;
}

.Cval-description {
	font-style: italic;
}

.Cval-icon-loading {
	display: block;
	width: 16px;
	height: 16px;
	background-color: transparent;
    background-image: url(../image/loading-circle-arrows.gif);
    background-position: 0 0;
    background-repeat: no-repeat; 
}
