
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif, Helvetica, Arial;
	font-size: 13px;
	line-height: 18px;
}

/* Box Sizing http://css-tricks.com/7323-box-sizing/ */
input, textarea {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
}
input[type=image] {
        -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: content-box;    /* Firefox, other Gecko */
        box-sizing: content-box;         /* Opera/IE 8+ */
}

.ui-widget { line-height: 18px; font-size: 13px; font-family: sans-serif, Helvetica, Arial; }
/*.ui-widget * { line-height: 18px; font-size: 12px; font-family: sans-serif, Helvetica, Arial; }*/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: sans-serif, Helvetica, Arial; font-size: 1em; }
.ui-widget p {margin: inherit;padding: inherit;border: inherit;outline: inherit;font-weight: inherit;font-style: inherit;font-size: inherit;font-family: inherit;vertical-align: inherit;}
.ui-tabs .ui-accordion {width: auto}

.ui-widget-overlay { width: 100% !important; height: 100% !important; }

/* Same field height as button height in Firefox */
@-moz-document url-prefix() {
    .field .ui-button-text-only .ui-button-text { padding: .55em 1em; }
}

/* No empty padding in buttonset for safari */
.ui-buttonset .ui-button { -webkit-margin-end: -.35em; }

/* No margin for all buttons as default */
.ui-button { margin: 0px; }

/* Select inputs has same height as other fields and buttons */
.ui-multiselect { padding:4px 0 4px 8px !important; }

/* Icons are as default with pointer cursor */
.ui-icon { cursor: pointer }
.ui-state-disabled .ui-icon, .ui-icon.ui-state-disabled, .ui-icon.ui-state-noclick { cursor: default }


small { line-height: normal }

.Cval-helper-font-weight-bold { font-weight: bold; }
.Cval-helper-font-weight-normal { font-weight: normal; }
.Cval-helper-bold { font-weight: bold; }
.Cval-helper-italic { font-style: italic; }
.Cval-helper-underline { text-decoration: underline; }
.Cval-helper-font-size-default { line-height: 18px; font-size: 13px; font-family: sans-serif, Helvetica, Arial; }

.Cval-helper-border-none { border: 0px !important; }
.Cval-helper-cursor-pointer { cursor: pointer; }

.Cval-helper-float-left { float: left; }
.Cval-helper-float-right { float: right; }

.Cval-helper-align-left { text-align: left; }
.Cval-helper-align-right { text-align: right; }

.Cval-helper-margin-top { margin-top: 10px; }
.Cval-helper-margin-top-50 { margin-top: 5px; }
.Cval-helper-margin-top-150 { margin-top: 15px; }
.Cval-helper-margin-bottom { margin-bottom: 10px; }
.Cval-helper-margin-bottom-50 { margin-bottom: 5px; }
.Cval-helper-margin-left { margin-left: 10px; }
.Cval-helper-margin-left-50 { margin-left: 5px; }
.Cval-helper-margin-right { margin-right: 10px; }
.Cval-helper-margin-right-50 { margin-right: 5px; }

.Cval-wrapper, .Cval-wrapper * { z-index: 950; }
.Cval-modal { z-index: 2000; display: none; background-color: transparent; height: 100%; width: 100%; position: fixed; left: 0; top: 0; }
.Cval-body-overlay { z-index: 900; display: none; background-color: transparent; height: 100%; width: 100%; position: fixed; left: 0; top: 0; }

.Cval-modal-ajax-loading { 
	height: 100%; 
	width: 100%;
	background-color: transparent;
    background-image: url(../image/loading-horizontal.gif);
    background-position: center center;
    background-repeat: no-repeat; 
}

a.Cval-focus-catcher { height: 0px; width: 1px; display: block; opacity: 0; filter:Alpha(Opacity=0); }

.Cval-vspacer-10 { display: block; height: 10px; }

.Cval-help-box { background-color: #E6E6E6; }
.Cval-help-box > div { padding: 10px; }
