
#Cval-message-wrapper {
	z-index: 0;
	display: block;
    position: fixed;
	top: -10px;
	opacity: .95;
	filter: Alpha(Opacity=95);
	margin: 0px auto;
	padding: 0px;
	z-index: 10000;
}

.Cval-message {
	margin-top: 10px;
	position: relative;
	text-align: center;
}

.Cval-message-standalone {
	margin-top: 0px;
}

.Cval-message-close {
	position: absolute;
	right: 0px;
	top: -2px;
	cursor: pointer;
}

.Cval-message-inner-box {
	padding: .3em .7em;
}

#Cval-message-wrapper .Cval-message-inner-box.first {
	border-top: 0px;
}

.Cval-message-inner-box  > div {
	border: 0px;
	/*padding: .5em 0;*/
}

.Cval-message-icon {
	float: left;
	margin-right: .3em;
}
