.Cval-list-wrapper {
	padding-bottom: 5px;
}

table.Cval-list {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

table.Cval-list th {
	padding: 0px;
}

table.Cval-list td, table.Cval-list th > div {
	padding: 4px 8px;
}

table.Cval-list th {
	padding: 0px;
}

table.Cval-list-nohead td {
	padding: 0px;
}

table.Cval-list-nohead td > div {
	padding: 4px 8px;
}

table.Cval-list thead th {
	text-align: left;
}

table.Cval-list tr.Cval-hover td {
	background-color: #FEF6AD;
}

table.Cval-list td {
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
}

table.Cval-list td.Cval-column-listcheck, table.Cval-list th.Cval-column-listcheck {
	width: 30px;
}