
table.Cval-list-users th.Cval-column-label {
	width: 36%;
}

table.Cval-list-users th.Cval-column-username {
	width: 36%;
}

table.Cval-list-users th.Cval-column-verified, 
table.Cval-list-users th.Cval-column-blocked {
	width: 5%;
}

table.Cval-list-users th.Cval-column-actions {
	width: 11%;
}

table.Cval-list-users .Cval-column-verified, 
table.Cval-list-users .Cval-column-blocked {
	text-align: center;
}

table.Cval-list-users td.Cval-column-label,
table.Cval-list-users td.Cval-column-username,
table.Cval-list-users td.Cval-column-verified, 
table.Cval-list-users td.Cval-column-blocked {
	cursor: pointer;
}