
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16.full {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/* Full width of specific grid
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_16.full {
	width:100%;
}
.container_16 .grid_13.full {
	width:81.25%;
}

.grid_16.full {
	margin-left: 0%;
	margin-right: 0%;
}

.grid_13.full {
	margin-left: 0%;
	margin-right: 0%;
}