
.Cval-schedule-summary-date-negotiating {
	padding-left: 22px;
	background-color: transparent;
    background-image: url(../../../image/loading-circle-arrows.gif);
    background-position: 0 0;
    background-repeat: no-repeat; 
}