.Cval-list-calendars-wrapper {
	margin-top: 20px;
	padding-bottom: 5px;
}

table.Cval-list-calendars th.Cval-column-color {
	width: 3%;
}

table.Cval-list-calendars th.Cval-column-label {
	width: 57%;
}

table.Cval-list-calendars th.Cval-column-type, table.Cval-list-calendars th.Cval-column-refreshed_at {
	width: 15%;
}

table.Cval-list-calendars th.Cval-column-actions {
	width: 10%;
}

table.Cval-list-calendars td.Cval-column-label {
	overflow: hidden;
}

table.Cval-list-calendars td.Cval-column-color .Cval-calendar-color-list-item {
	width: 13px; 
	height: 13px;
}