
.Cval-calendar-color-edit-box {
	height: 30px; 
	overflow-y: hidden;
}

.Cval-calendar-color-edit-item {
	width: 13px; 
	height: 11px; 
	margin-bottom: 4px; 
	margin-left: 4px;
	line-height: 13px;
	padding-top: 2px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.Cval-calendar-color-edit-item {
		height: 12px;
		padding-top: 1px;
	}
}
