
.Cval-timetable-schedule-plan-wrapper .fc-header-title h2 {
	font-weight: normal;
	font-size: 1.4em;
	color: #414141;
}

.Cval-timetable-schedule-plan-wrapper .Cval-fullcalendar-timerange-item_highlight {
	background-color: #0000ff;
}