
table.Cval-list-contacts th.Cval-column-label {
	width: 40%;
}

table.Cval-list-contacts th.Cval-column-location {
	width: 30%;
}

table.Cval-list-contacts th.Cval-column-incoming, table.Cval-list-contacts th.Cval-column-outgoing {
	text-align: center;
	width: 8%;
}

table.Cval-list-contacts th.Cval-column-actions {
	width: 10%;
}

table.Cval-list-contacts td.Cval-column-label {
	overflow: hidden;
}

table.Cval-list-contacts td.Cval-column-incoming, table.Cval-list-contacts td.Cval-column-outgoing {
	text-align: center;
}